<?xml version='1.0' encoding="UTF-8"?>  
<?eclipse version="3.4"?>  
<plugin>  
   <extension point="org.eclipse.ui.menus">  
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">  
         <command commandId="com.rbsfm.plugin.build.convert" label="Create HTML" style="push">  
            <visibleWhen>  
               <with variable="activeMenuSelection">  
                  <iterate>  
                     <!--adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt-->
                     <adapt type="org.eclipse.core.resources.IFile">
                     	<test property="org.eclipse.core.resources.name" value="*.xml" />
                     </adapt>
                  </iterate>  
               </with>  
            </visibleWhen>  
         </command>  
      </menuContribution>  
   </extension>  
   <extension point="org.eclipse.ui.commands">  
      <command id="com.rbsfm.plugin.build.convert" name="Convert">  
      </command>  
   </extension>  
   <extension id="lars" name="lars" point="org.eclipse.ui.handlers">  
      <handler class="com.rbsfm.plugin.build.handler.Convert" commandId="com.rbsfm.plugin.build.convert">  
      </handler>  
   </extension>  
</plugin>  
